.otp-area {
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
}

.otp-area input {
  width: 80px;
  height: 80px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #c5c6cc;
  outline: none;
  text-align: center;
}

.otp-area input:focus {
  outline: 1.5px solid #27ae60;
}
.border-active {
  border: 4px solid #27ae60;
}

.passcode-modal {
  display: flex;
  border-radius: 5px;
  gap: 0.5rem;
  border-left: 4px solid #27ae60;
  border-top: 1px solid #c5c6cc;
  border-right: 1px solid #c5c6cc;
  border-bottom: 1px solid #c5c6cc;
  padding: 0.5rem;
  width: 50%;
  margin: 1rem auto;
}

.passcode-modal h5 {
  margin: 0;
}
.passcode-modal p {
  font-size: 14px;
  margin: 0;
}

.passcode-modal.error {
  border-left: 4px solid #eb5757;
}

.passcode-modal.error p {
  color: #eb5757;
}

.passcode-modal.error .icon {
  color: #eb5757;
  padding: 0.2rem;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid #f2bcba;
  background: #fbeae9;
}

.passcode-modal .icon {
  padding: 0.2rem;
  color: #27ae60;
  font-size: 20px;
  border: 1px solid #b5e3c4;
  background: #e7f6ec;
  border-radius: 5px;
}
