.classesCard{
    width:310px;
    border-width: 1px;
    border-color: rgb(243 244 246 / var(--tw-border-opacity));
    background-color: #fff;
    border-radius: 0.75rem;

}

.classesCard-top{
    width:100%;
    
}
.classesCard-top img{
    width:100%;
    object-fit: cover;
    border-top-left-radius: 0.75rem/* 12px */;
    border-top-right-radius: 0.75rem/* 12px */;
    height: 160px;

}

.classesCard-body{
    display:flex;
    flex-direction: column;
    padding: 16px;
    gap:10px;
    
}
.classesCard-body h1{
    font-weight: 600;
    font-size: 18px;

}
.classesCard-body p{
    font-size: 0.875rem/* 14px */;
    line-height: 1.25rem/* 20px */;
    color: rgb(107 114 128 / var(--tw-text-opacity));

}
.classesCard-details{
    display:flex;
    justify-content:space-between;
    padding-left: 1rem/* 16px */;
    padding-right: 1rem/* 16px */;
    padding-top: 0.5rem/* 8px */;
    padding-bottom: 0.5rem/* 8px */;
    
    
    
}
.classesCard-details p{
    display:flex;
    align-items:center;
    font-size: 0.875rem/* 14px */;
    line-height: 1.25rem/* 20px */;
    gap: 0.5rem/* 8px */;
    color: rgb(107 114 128 / var(--tw-text-opacity));    
}
.classesCard-details span{
    display:flex;
    align-items:center;
    font-size: 0.875rem/* 14px */;
    line-height: 1.25rem/* 20px */;
    gap: 0.5rem/* 8px */;
    color: rgb(107 114 128 / var(--tw-text-opacity));    
}

.classesCard-button{
    display:flex;
    justify-content: flex-end;
    padding: 0.5rem/* 8px */;
}
.classesCard-button span{
    display:flex;
    align-items:center;
    font-size: 0.875rem/* 14px */;
    line-height: 1.25rem/* 20px */;
    justify-content: flex-end;
    padding: 0.5rem/* 8px */;
    cursor: pointer;
    border-width: 2px;
    border-style: dotted;
    color: rgb(32 22 88 / var(--tw-text-opacity))
}