*,
::after,
::before {
  box-sizing: border-box;
}

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Roboto+Condensed:wght@400;700&display=swap');

html {
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
}

/*16px*/

img {
  display: block;
  width: 100%;
}

:root {
  /* colors */
  --primary-blue: #4a3aff;
  --text-color-white: #fff;
  --bg-white: #fff;
  --gray: rgba(46, 49, 146, 0.15);
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgba(182, 180, 180, 0.6);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4a3aff;
  border-radius: 5px;
}

body {
  background-color: #fff;
}
